body {
  font-family: sans-serif;
  /* background: url('../assets/aurora-green.jpg') center center no-repeat; */
  /* background-size: contain; */
  background-color: darkgreen;
  color: white;
}

.green-button {
  padding: 4px 4px;
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
  background-color: #28a745; /* Green color for success */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
