body {
  font-family: sans-serif;
}

label {
  font-style: italic;
  font-weight: bold;
}

.clickable {
  cursor: pointer;
  font-weight: bold;
}

/* Background Colours */
/* .alice-blue-bg {
  background-color: aliceblue;
}
 */
