body {
  font-family: 'inter'
}

label {
  font-style: italic;
  font-weight: bold;
}

.cursor-pointer {
  cursor: pointer;
}


/* Font Weights */

.font-weight-bold {
  font-weight: bold;
}


/* Container */
.grey-box {
  background-color: #F6F6F6;
  padding: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 10px;
}


/* Spacing */
.m-l-3 {
  margin-left: 3px;
}

.m-l-5 {
  margin-left: 5px;
}

.m-l-10 {
  margin-left: 10px;
}